/*=============================
            SIGN IN
=============================*/

.formularSignIn {
    font-size: 16px;
    margin-left: 35%;
    padding-top: 100px;
}

.formularSignIn label{
    font-size: 20px;
    text-transform: uppercase;
    margin: 5px 5px 5px 5px;
}

#email {
    font-size: 16px;
    width: 400px;
    margin: 5px 5px 5px 5px;
}

#password {
    font-size: 16px;
    width: 400px;
    margin: 5px 5px 5px 5px;
}

.ButtonSignIn  {
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    background-color: cyan;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin: 5px 5px 5px 5px;
}