.fa {
    padding: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: cyan;
    color: white;
  }

  .fa-twitter {
    background: cyan;
    color: white;
  }

  .fa-instagram {
    background: cyan;
    color: white;
  }

  .fa-pinterest {
    background: cyan;
    color: white;
  }